html {
  position: relative;
  min-height: 100%;
}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
}
  #sair:hover{
    text-decoration:none;
  }

  #button-logout:hover{
    margin-left:2px;
    width:100%;
    height: 100%;
    background-color:#004000;
    border-radius:5rem;
  }

  #menu-sair{
    height:56px;
  }

  .menu-lateral {
    position: fixed;
    top: 48px; 
    bottom: 0;
    right: 100%;
    width: 25%;
    overflow-y: auto;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: right, visibility;
    z-index:1041;
    box-shadow: 2px 0px 50px;
    }
  .menu-lateral.open {
    right: 75%;
    visibility: visible;
  }
  .fechar-menu-lateral {
    position: fixed;
    top: 48px;
    right: 100%;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: 0.5;
  }
  .fechar-menu-lateral.open {
    right: 0;
  }
@media (min-width: 991px) and (max-width: 1320px) {
  .menu-lateral {
    position: fixed;
    top: 48px; /* Height of navbar */
    bottom: 0;
    left: 0;
    width: 35%;
    overflow-y: auto;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: right, visibility;
  }
}
@media (min-width: 744px) and (max-width: 991px) {
  .menu-lateral {
    position: fixed;
    top: 48px; /* Height of navbar */
    bottom: 0;
    right: 100%;
    width: 45%;
    overflow-y: auto;
    visibility: hidden;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: right, visibility;
  }
  .menu-lateral.open {
    right: 15%;
    visibility: visible;
  }
  #menu-sair{
    height:56px;
  }
}

@media (min-width: 560px) and (max-width: 744px) {
  .menu-lateral {
    position: fixed;
    top: 48px; /* Height of navbar */
    bottom: 0;
    right: 100%;
    width: 60%;
    overflow-y: auto;
    visibility: hidden;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: right, visibility;
  }
  .menu-lateral.open {
    right: 15%;
    visibility: visible;
  }
  #menu-sair{
    height:56px;
  }
}

@media (max-width: 560px) {
  .menu-lateral {
    position: fixed;
    top: 48px; /* Height of navbar */
    bottom: 0;
    right: 100%;
    width: 85%;
    overflow-y: auto;
    visibility: hidden;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: right, visibility;
  }
  .menu-lateral.open {
    right: 15%;
    visibility: visible;
  }
  #menu-sair{
    height:56px;
  }
}
.icon{
  text-align: center;
  position: absolute;
  font-size: 4em;
  top: -25px; 
}
.nm-user{
  display: block;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
}
.email-user{
  font-size: 1em;
}

@media (max-width: 400px) {
  .icon{
    text-align: center;
    position: absolute;
    font-size: 3em;
    top: -15px; 
  }
  .nm-user{
    font-size: 1em;
    font-weight: bold;
  }
  .email-user{
    font-size: 0.9em;
  }
  #menu-sair{
    height:56px;
  }
}
#navbar-header{
	position:relative;
  padding: 5%;
  height:86px;
}

#navbar-body{
	width:100%;
	padding:0;
}

#area-usuario{
	position:relative;
	color:#fff;
}

.menu-lateral.nav-item.nav-link{color:#343a40;}

.fixed { position: fixed;}

.menu-item{
	width:100%;
	height:auto;
	padding:5%;
  border-bottom: solid 1px #343a40;
}
.menu-item:hover{
	background-color:#e5e5e5;
}

.menu-link{
	text-decoration:none;
	list-style:none;
	color:#343a40 !important ;
	font-weight:bold;
}

.menu-dropdown-body{
	width:100%;
	padding:0;
}

.menu-dropdown-item{
	width:100%;
	height:auto;
	padding:5%;
  border-bottom: solid 1px #fff;
}

.menu-dropdown-link{
	width:100%;
	height:auto;
	display:block;
	text-decoration:none;
	list-style:none;
	color:#f5f5f5 !important ;
}
.bg-black { background-color: #000000; }
